#header {
    background-color: #dbe6ef;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.conteinerimagen {
    height: 30%;
}

.logo {
    width: 10%;
}

#navopciones {
    display: flex;
    justify-content: end;
    text-align: center;
}

.NavHogar {
    text-decoration: none;
    color: black;
    width: 13%;
    font-size: larger;
}

.NavAdopcion {
    text-decoration: none;
    color: black;
    width: 40%;
    font-size: larger;
}

.NavDonacion {
    text-decoration: none;
    color: black;
    width: 15%;
    font-size: larger;
}

.NavHogar:hover {
    color: #1883b3;
}

.NavAdopcion:hover {
    color: #1883b3;
}

.NavDonacion:hover {
    color: #1883b3;
}

.d-block {
    width: 100%;
    height: 100%;
}

#portada {
    background-color: #dbe6ef;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#infohogar {
    width: 20%;
    font-size: large;
}

.botonadoptar {
    background-color: #9876d5a8;
    border: white;
    width: 30%;
    height: 10%;
}

.botondonar {
    background-color: #9876d5a8;
    border: white;
    width: 30%;
    height: 10%;
}

.botonadoptar:hover {
    background-color: #3b039fc4;
    font-weight: bold;
}

.botondonar:hover {
    background-color: #3b039fc4;
    font-weight: bold;
}

.imgportada {
    width: 30%;
}

#textoinformativo {
    background-color: #dbe6ef;
    font-size: larger;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Donaciones {
    background-color: #dbe6ef;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

#donacioncards {
    display: flex;
    justify-content: center;
}

.CajaDonar1 {
    width: 20%;
}

.imgMedicacion {
    width: 64%;
}

.imgMedicacion:hover {
    transform: scale(1.2);
}

.CajaDonar2 {
    width: 20%;
}

.imgInsumos {
    width: 84%;
}

.imgInsumos:hover {
    transform: scale(1.2);
}

.CajaDonar3 {
    width: 20%;
}

.imgAlimento {
    width: 90%;
}

.imgAlimento:hover {
    transform: scale(1.2);
}

.CajaDonar4 {
    width: 20%;
}

.imgDinero {
    width: 95%;
}

.imgDinero:hover {
    transform: scale(1.2);
}

.cajabtdonar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Btdonar {
    background-color: #9876d5a8;
    border: white;
    width: 11%;
    height: 8%;
    font-family: none;
    font-weight: bold;
}

.Btdonar:hover {
    background-color: #3b039fc4;
    border-color: black;
}

#Contactos {
    background-color: #dbe6ef;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}

.infocontacto {
    width: 35%;
}

.datos {
    width: 3%;
}

.mapa {
    width: 150%;
    height: 97%;
}

#footer {
    display: flex;
    justify-content: center;
    text-align-last: center;
    background-color: #dbe6ef;
}

.cajafooter {
    width: 15%;
}

.logofooter {
    width: 55%;
}

/* adopciones */

.meadoptas {
    width: 30%;
}

.meadoptas img {
    width: 117%;
    margin-top: 20px;
    margin-left: 22px;
}

#PregFrecuentes {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.titulocuestions {
    border: groove;
    border-color: #0000ff7d;
    padding: 10px;
}

.botondonacion {
    background-color: #9876d5a8;
    float: left;
    height: 15%;
    width: 45%;
}

.botondonacion:hover {
    background-color: #0000ff9e;
    font-weight: bold;
}

.botontransito {
    background-color: #9876d5a8;
    width: 45%;
    height: 15%;
    margin-left: 22px;
}

.botontransito:hover {
    background-color: #0000ff9e;
    font-weight: bold;
}

/* Formulario Adopciones */

#textform {
    background-color: #dbe6ef;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Formulario {
    margin-bottom: 0px;
    display: flow;
    text-align: center;
}

.form-group1 {
    background-color: #dbe6ef;
    padding-top: 20px;
    padding-bottom: 15px;
}

.form-group {
    background-color: #dbe6ef;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-group4 {
    background-color: #dbe6ef;
    padding-top: 15px;
    padding-bottom: 20px;
}

#btenviar {
    background-color: #dbe6ef;
    padding: 15px
}

.botonenviar {
    width: 10%;
    height: 7%;
    background-color: #9876d5a8;
}

.botonenviar:hover {
    background-color: #0000ff9e;
    font-weight: bold;
}

.botonenviara {
    text-decoration: none;
    color: black;
}

/* Agradecimiento */

.textagradecimiento {
    background-color: #dbe6ef;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar {

}

@media screen and (max-width: 414px) {

    #navopciones {
        display: none;
    }

    .logo {
        padding-left: 95px;
        width: 35%;
        display: flex;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        padding-top: 25px;
        font-size: larger;
    }

    .d-block {
        width: 100%;
        height: 30%;
    }

    .imgportada {
        display: none;
    }

    #infohogar {
        width: 60%;
    }
}

@media screen and (min-width: 414px) {
    
    .navbar {
        display: none;
    }
}