@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Carrusel */

.carousel {
    width: 100%; /* Ancho del carrusel */
    margin: 0 auto;
    overflow: hidden; /* Oculta el contenido fuera del área visible */
    height: 100%;
    padding-top: 80px;
    z-index: 0;
  }

.carousel-inner {
    display: flex; /* Muestra los elementos en línea */
    animation: desplazamiento 10s infinite; /* Duración de la animación y bucle infinito */
  }
  
.carousel-item {
    flex: 0 0 100%; /* Establece el ancho de cada elemento del carrusel */
  }
  
.carousel-item img {
    width: 100%; /* Ancho de las imágenes */
    height: 100%; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen para que llene el contenedor */
}
  
@keyframes desplazamiento {
    0% {
      transform: translateX(0); /* Sin desplazamiento al inicio */
    }
    16.66% {
      transform: translateX(0); /* No hay desplazamiento entre la primera y segunda imagen */
    }
    33.33% {
      transform: translateX(-100%); /* Desplazamiento a la segunda imagen */
    }
    50% {
      transform: translateX(-100%); /* No hay desplazamiento entre la segunda y tercera imagen */
    }
    66.66% {
      transform: translateX(-200%); /* Desplazamiento a la tercera imagen */
    }
    83.33% {
      transform: translateX(-200%); /* No hay desplazamiento entre la tercera y cuarta imagen */
    }
    100% {
      transform: translateX(-300%); /* Desplazamiento a la cuarta imagen */
    }
}

.header {
    background-color: #dbe6ef;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

.navbar ul {
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    gap: 100%;
    font-size: large;
}

.navbar ul :hover {
    color: #1883b3;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 30px;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.conteinerimagen {
    height: 30%;
}

.logo {
    width: 6%;
}

#navopciones {
    display: flex;
    justify-content: end;
    text-align: center;
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

.NavHogar {
    text-decoration: none;
    color: black;
    width: 13%;
    font-size: larger;
}

.NavAdopcion {
    text-decoration: none;
    color: black;
    width: 40%;
    font-size: larger;
}

.NavDonacion {
    text-decoration: none;
    color: black;
    width: 15%;
    font-size: larger;
}

.NavHogar:hover {
    color: #1883b3;
}

.NavAdopcion:hover {
    color: #1883b3;
}

.NavDonacion:hover {
    color: #1883b3;
}

.d-block {
    width: 100%;
    height: 100%;
}

#portada {
    background-color: #dbe6ef;
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 40px;
}

#infohogar {
    width: 20%;
    font-size: large;
}

.botonadoptar {
    background-color: #9876d5a8;
    border: white;
    width: 30%;
    height: 10%;
}

.botondonar {
    background-color: #9876d5a8;
    border: white;
    width: 30%;
    height: 10%;
}

.botonadoptar:hover {
    background-color: #3b039fc4;
    font-weight: bold;
}

.botondonar:hover {
    background-color: #3b039fc4;
    font-weight: bold;
}

.imgportada {
    width: 30%;
}

.titulohogar {
    height: 30%;
}

.informacionhogar {
    width: 100%;
    height: 60%;
}

.titulodonacion {
    height: 10%;
}

.titulo {
    padding-top: 10%;
    padding-bottom: 5%;
}

#infocont {
    font-size: x-large; 
    font-weight: bold; 
    display: flex; 
    height: 8%;
    padding-bottom: 45px;
}

.infocontp {
    height: 20%;
}

#textoinformativo {
    background-color: #dbe6ef;
    font-size: larger;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#Donaciones {
    background-color: #dbe6ef;
    padding-top: 3%;
    padding-bottom: 1px;
    text-align: center;
}

#donacioncards {
    display: flex;
    justify-content: center;
}

.CajaDonar1 {
    width: 20%;
}

.imgMedicacion {
    width: 64%;
}

.imgMedicacion:hover {
    transform: scale(1.2);
}

.parrafo {    
    padding-left: 10px;
    padding-right: 10px;
}

.CajaDonar2 {
    width: 20%;
}

.imgInsumos {
    width: 84%;
}

.imgInsumos:hover {
    transform: scale(1.2);
}

.CajaDonar3 {
    width: 20%;
}

.imgAlimento {
    width: 90%;
}

.imgAlimento:hover {
    transform: scale(1.2);
}

.CajaDonar4 {
    width: 20%;
}

.imgDinero {
    width: 95%;
}

.imgDinero:hover {
    transform: scale(1.2);
}

.cajabtdonar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Btdonar {
    background-color: #9876d5a8;
    border: white;
    width: 11%;
    height: 8%;
    font-family: none;
    font-weight: bold;
}

.Btdonar:hover {
    background-color: #3b039fc4;
    border-color: black;
}

#Contactos {
    background-color: #dbe6ef;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}

#infocontacto {
    width: 35%;
}

.datos {
    width: 4%;
}

.mapa {
    width: 150%;
    height: 97%;
}

#footer {
    display: flex;
    justify-content: center;
    text-align-last: center;
    background-color: #dbe6ef;
}

.cajafooter {
    width: 15%;
}

.logofooter {
    width: 55%;
}

/* adopciones */

.meadoptas {
    width: 30%;
}

.meadoptas img {
    width: 117%;
    margin-top: 20px;
    margin-left: 22px;
}

#PregFrecuentes {
    display: flex;
    justify-content: center;
    font-size: larger;
    padding-top: 10%;
}

#PregFrec {
    padding-top: 2%;
}

.informacioncuestions {
    height: 16%;
    padding-top: 8px;
}

#Formulario {
    padding-top: 6%;
}

.titulocuestions {
    border: groove;
    border-color: #0000ff7d;
    padding: 10px;
}

.botondonacion {
    background-color: #9876d5a8;
    float: left;
    border: 0px;
    height: 15%;
    width: 45%;
}

.botondonacion:hover {
    background-color: #0000ff9e;
    font-weight: bold;
}

.botontransito {
    background-color: #9876d5a8;
    width: 45%;
    border: 0px;
    height: 15%;
    margin-left: 22px;
}

.botontransito:hover {
    background-color: #0000ff9e;
    font-weight: bold;
}

/* Formulario Adopciones */

#textform {
    background-color: #dbe6ef;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Formulario {
    margin-bottom: 0px;
    display: flow;
    text-align: center;
}

.form-group1 {
    background-color: #dbe6ef;
    padding-top: 20px;
    padding-bottom: 15px;
}

.form-group {
    background-color: #dbe6ef;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-group4 {
    background-color: #dbe6ef;
    padding-top: 15px;
    padding-bottom: 20px;
}

#btenviar {
    background-color: #dbe6ef;
    padding: 15px
}

.botonenviar {
    width: 10%;
    height: 7%;
    background-color: #9876d5a8;
}

.botonenviar:hover {
    background-color: #0000ff9e;
    font-weight: bold;
}

.botonenviara {
    text-decoration: none;
    color: black;
}

/* Agradecimiento */

.textagradecimiento {
    background-color: #dbe6ef;
    padding-top: 10%;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.botonmenu {
    display: none;
}

.botonmenuc {
    display: none;
}

.form-group4 textarea {
    width: 24%;
}

.aheader {
    width: 65%;
}


@media (max-width: 576px) { /* responsive celulares */

    .navbar ul {
        background-color: white;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
        gap: 25%;
    }
    
    .carousel {
        height: 70%;
    }

    .carousel-item img {
        height: 146%;
    }

    .titulohogar {
        padding-top: 25%;
    }

    .informacionhogar {
        padding-top: 10%;
    }

    .textagradecimiento {
        padding-top: 25%;
    }

    #portada {
        height: 65%;
    }

    #PregFrecuentes {
        padding-top: 25%;
        height: 65%;
    }

    .informacioncuestions {
        padding-top: 15px;
        height: 20%;
    }

    #navopciones {
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        background-color: #dbe6ef;
    }

    .logo {
        width: 18%;
        display: flex;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        padding-top: 25px;
        font-size: larger;
    }

    .d-block {
        width: 100%;
        height: 30%;
    }

    .imgportada {
        display: none;
    }

    #infohogar {
        width: 60%;
    }

    #donacioncards {
        display: flex;
        flex-flow: column;
        width: 200%;
    }

    .imgMedicacion{
        width: 50%;
    }

    .imgInsumos{
        width: 50%;
    }

    .imgAlimento{
        width: 50%;
    }

    .imgDinero {
        width: 50%;
    }

    .titulo {
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .imgMedicacion:hover {
        transform: none;
    }

    .imgInsumos:hover {
        transform: none;
    }

    .imgAlimento:hover {
        transform: none;
    }
    
    .imgDinero:hover {
        transform: none;
    }

    .imgInsumos{
        padding-top: 7%;
    }

    .imgAlimento{
        padding-top: 7%;
    }

    .imgInsumos{
        padding-top: 7%;
    }

    .imgDinero{
        padding-top: 7%;
    }

    .CajaDonar1 {
        width: 50%;
    }

    .CajaDonar2 {
        width: 50%;
    }

    .CajaDonar3 {
        width: 50%;
    }

    .CajaDonar4 {
        width: 50%;
    }

    .Btdonar {
        width: 40%;
    }

    #Contactos {
        display: flow;
    }

    #infocontacto {
        width: 100%;
        padding-left: 15px;
        padding-bottom: 20px;
        padding-top: 45px;
    }

    .datos {
        padding-right: 15px;
        width: 6%;
    }

    .botonmenu {
        display: block;
        background-color: #9876d5a8;
        padding: 10px;
    }

    .conteinerimagen {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #dbe6ef;
        padding: 1rem;
        opacity: 0;
        visibility: visible;
    }

    .btmenu {
        text-decoration: none;
        color: black;
    }

    .botonmenu:hover {
        background-color: #0000ff9e;
        font-weight: bold;
    }

    .logofooter {
        width: 100%;
    }

    /* hogar responsive */

    .meadoptas {
        display: none;
    }

    .mapa {
        width: 100%;
        height: 30%;
    }

    /* formularios */

    .form-group1 {
        display: flex;
        justify-content: center;
    }

    .form-group {
        display: flex;
        justify-content: center;
    }

    .form-group {
        display: flex;
        justify-content: center;
    }

    .form-group4 {
        display: flex;
        justify-content: center;
        padding-right: 25px;
    }

    .form-group1 label {
        padding-right: 15px;
    }

    .form-group label {
        padding-right: 15px;
    }

    .form-group4 label {
        padding-right: 15px;
    }

    .botonenviar {
        width: 25%;
    }

    .form-group4 textarea {
        width: 117%;
    }

    #textform {
        padding-top: 25%;
    }

    /* formu enviar */

}


@media only screen and (min-width: 577px) and (max-width: 1024px) {       /* respondive tablets */
   
    .logo {
        width: 12%;
        display: flex;
    }

    .carousel {
        height: 66%;
    }

    .navbar ul {
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        background-color: #dbe6ef;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
        gap: 25%;
    }

    #portada {
        padding-top: 20%;
        padding-left: 35px;
        padding-right: 35px;
    }

    .titulo {
        font-size: larger;
    }

    #PregFrecuentes {
        padding-top: 16%;
        padding-bottom: 50px;
    }

    .textagradecimiento {
        padding-top: 40%;
        padding-bottom: 39px;
    }

    .cajaboton {
        padding-top: 15px;
    }

    .titulodonacion {
        height: 10%;
    }
    
    .botonadoptar {
        width: 40%;
        height: 20%;
        font-size: large;
    }

    .botondonar {
        width: 40%;
        height: 20%;
        font-size: large;
    }

    .informacionhogar {
        width: 100%;
        height: 80%;
        font-size: larger;
    }

    .textoinfo {
        font-size: larger;
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .parrafa {
        font-size: larger;
    }

    #Formulario {
        padding-top: 10%;
    }

    .d-block {
        height: 46%;
    }

    #infohogar {
        width: 35%;
    }

    .imgportada {
        width: 28%;
        font-size: small;    
    }

    .Btdonar {
        width: 10%;
        font-size: small;
    }

    .botonenviar {
        height: 4%;
    }

}

@media screen and (max-width: 801px) {

    .d-block {
        height: 55%;
    }

    #infohogar {
        width: 66%;
    }

    .imgportada {
        width: 40%;
    }

    .Btdonar {
        width: 14%;
        font-size: small;
    }

    .botonenviar {
        height: 4%;
    }
}